<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56981771e5d6d1c7" async="async"></script>

<section class="post-controls">
    {{#link-to "editor.edit" model.id class="btn btn-minor post-edit" title="Edit this post"}}<i class="icon-edit"></i>{{/link-to}}
</section>

{{#gh-content-preview-content tagName="section" content=model}}
    <div class="wrapper">
        <h1 class="content-preview-title">
            {{#link-to "editor.edit" model.id}}
                {{model.title}}
            {{/link-to}}
        </h1>
        {{gh-format-html model.html}}
    </div>
{{/gh-content-preview-content}}
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56981771e5d6d1c7" async="async"></script>

